<figure class="dg dg-tpb" aria-label="Theory of Planned Behaviour: attitude, social norms and perceived control shape intention, which shapes behaviour">
  <div class="tpb-in">
    <div class="dg-node"><b>Attitude</b>Do I value sustainable food?<em>Strong: values students bring with them</em></div>
    <div class="dg-node"><b>Subjective norm</b>Do people around me expect it?<em>Weak, situational</em></div>
    <div class="dg-node strong"><b>Perceived control</b>Can I actually do it here?<em>Decisive: price, convenience, language</em></div>
  </div>
  <div class="tpb-arrow" aria-hidden="true">&rarr;</div>
  <div class="dg-node"><b>Intention</b>I want to eat sustainably</div>
  <div class="tpb-arrow" aria-hidden="true">&rarr;</div>
  <div class="dg-node"><b>Behaviour</b>What ends up on the tray</div>
  <figcaption>The Theory of Planned Behaviour (Ajzen, 1991), with what our interviews showed for each factor.</figcaption>
</figure>
